body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid #ccc;
  border-radius: 0.3em;
  padding: 0.25rem;
  width: 7em;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  background-color: #9fd3cb;
  border-radius: 10px;
  margin: 0.2rem;
}
